// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* width */
::-webkit-scrollbar {
  width: 1px;
  display: none;
}

#index {
 // min-width: fit-content;
  width:100vw;
  max-width:100%;
  overflow-x: hidden;  
}

#stream {
  // min-width: fit-content;
   width:100vw;
   max-width:100%;
   overflow-x: hidden;  
 }

html, body {margin: 0; padding: 0; overflow-x:hidden;}